<form [formGroup]="entryForm" (ngSubmit)="onSubmit()">

  <fieldset formGroupName="before">
    <legend>Before</legend>
    <label>Thoughts</label>
    <input type="text" formControlName="thoughtsBefore" (keyup.enter)="enterValueIntoArray($event.target.value, 'thoughtsBefore')">
    <br>
    <label>Behaviors</label>
    <input type="text" formControlName="behaviorsBefore">
  </fieldset>

  <fieldset formGroupName="during">
    <legend>During</legend>
    <label>Thoughts</label>
    <input type="text" formControlName="thoughtsDuring">
    <br>
    <label>Behaviors</label>
    <input type="text" formControlName="behaviorsDuring">
  </fieldset>

  <fieldset formGroupName="after">
    <legend>After</legend>
    <label>Thoughts</label>
    <input type="text" formControlName="thoughtsAfter">
    <br>
    <label>Behaviors</label>
    <input type="text" formControlName="behaviorsAfter">
  </fieldset>
  <br>
  <button mat-button type="submit">Submit</button>
</form>