<form [formGroup]="entryForm" (ngSubmit)="onSubmit()">

  <fieldset formGroupName="before">
    <legend>Before</legend>
    <label>Thoughts</label>
    <input type="text" formControlName="thoughtsBefore">
    <br>
    <label>Behaviors</label>
    <input type="text" formControlName="behaviorsBefore">
    <br>
    <label>Actions</label>
    <input type="text" formControlName="actionsBefore">
  </fieldset>

  <fieldset formGroupName="during">
    <legend>During</legend>
    <label>Thoughts</label>
    <input type="text" formControlName="thoughtsDuring">
    <br>
    <label>Behaviors</label>
    <input type="text" formControlName="behaviorsDuring">
    <br>
    <label>Actions</label>
    <input type="text" formControlName="actionsDuring">
  </fieldset>

  <fieldset formGroupName="after">
    <legend>After</legend>
    <label>Thoughts</label>
    <input type="text" formControlName="thoughtsAfter">
    <br>
    <label>Behaviors</label>
    <input type="text" formControlName="behaviorsAfter">
    <br>
    <label>Actions</label>
    <input type="text" formControlName="actionsAfter">
  </fieldset>
  <br>
  <button type="submit">Submit</button>

</form>